<h1><%= @app.name %></h1>

<div class="row">
  <div class="col-md-4">
    <h4><%= @user.username %></h4>
    <h5><%= link_to @app.url, @app.url %></h5>
    <%= link_to "Unregister", registered_application_path(@app), class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure you want to unregsiter this app?"} %>
    <%= link_to "Edit", edit_registered_application_path(@app), class: 'btn btn-primary' %>
  </div>
  <div class="col-md-8">
    <table class="table table-hovers">
      <thead>
        <tr>
          <th width="75%">Event Type</th>
          <th width="25%">#</th>
        </tr>
      </thead>
      <tbody>
        <% event_summary(@app.events).each do |event, count| %>
          <tr>
            <td><%= event %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= pie_chart @app.events.group(:name).count %>
    <%= line_chart @app.events.group_by_day(:created_at).count %>
  </div>
</div>
